* {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    color: #353535;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li a {
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.4s;
    text-decoration: none !important;
}

header nav ul li a:hover {
    color: #d7272a !important;
}

p {
    color: #7b7b7b;
    line-height: 2;
    font-size: 0.95rem;
}

h1, h3, h4, h5 {
    text-transform: uppercase;
}

h2 {
    font-size: 8rem;
}

h3 {
    font-size: 2.85rem;
    letter-spacing: 7px;
    color: #fff;
    margin-bottom: 4rem;
}

h4 {
    font-size: 1.15rem;
}

button {
    cursor: pointer;
    background: #d7272a;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.25rem 3rem;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.menu-flex {
    display: flex;
    justify-content: space-between;
}

.active {
    color: #d7272a !important;
}

#menu {
    position: relative;
    padding: 0;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1rem 0;
    z-index: 1;
}

.top-fitness-logo {
    margin: 0 2rem;
    border: 2px solid #fff;
    padding: 15px 10px 7px;
    text-align: center;
    letter-spacing: 2px;
}

.top-fitness-logo a {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    line-height: 20px;
}

.top-fitness-logo a:hover {
    text-decoration: none;
}

.fit-ness-logo {
    margin: 0 2rem;
    border: 2px solid #fff;
    padding: 15px 10px 7px;
    text-align: center;
    letter-spacing: 2px;
}

.fit-ness-logo a {
    font-size: 28px;
    color: #fff;
    line-height: 20px;
}

header nav {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

header nav ul.menu-flex {
    align-items: center;
    justify-content: space-around;
}

header nav ul li a {
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.4s;
}

header nav ul li a:hover {
    color: #d7272a !important;
}

.fit-ness-logo a:hover {
    text-decoration: none;
}

#header-logo-mobile {
    display: none;
}

#search {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    width: auto;
    padding: 0;
    font-size: 15px;
    border: none;
    background: transparent;
    color: #fff;
}

#hamburger-menu {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin: 0 1rem;
    display: none;
}

#hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
}
/*Nutrition-detail*/
.News-header .icon-bg-banner h4
{
    margin-top:7%;
    color: white;
    font-size: 17px;
}
.News-header .bg-main-top {
    background-image: url(https://themes.oitentaecinco.com/winner/wp-content/uploads/2015/12/nutrition-slider-bg.jpg);
    min-height: 60vh;
    background-size: cover;
}
.News-header .bg-main-top button{
    margin: auto;
    background-color: #d7272a;
    color: #ccc;
    font-size: 13px;
    animation: slideOutbutton 1s;
}
.News-header .bg-main-top button:hover{
    background-color: white;
    color: #d7272a;
    transition: 0.4s;
}
.News-header .bg-main-top p{
    animation: updown 1s;
}
.News-header .bg-main-top #img{
    animation: updown 1s;
}
.News-header .bg-main-top .icon-bg-banner{
    animation: slidePlan 3s;
}
@-webkit-keyframes updown {
    0% {
        transform: translateY(-50px)scale(1);
        opacity: 0;
    }
    30%{
        transform: translateY(-50px)scale(1);
        opacity: 0;
    }
    100% {
        transform: translateX(0px)scale(1);
        opacity: 1;
    }
}
/*@keyframes divao {*/
/*    0%  {transform: translateY(0);opacity: 0}*/
/*    33% {transform: translateY(0);opacity: 0}*/
/*    67% {transform: translateY(0);opacity:0.5}*/
/*    100%{transform: translateY(0);opacity: 1}*/
/*}*/

@-webkit-keyframes downup {
    0% {
        transform: translateY(50px)scale(1);
        opacity: 0;
    }
    30%{
        transform: translateY(50px)scale(1);
        opacity: 0;
    }
    100% {
        transform: translateX(0px)scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes slideOutbutton {
    0% {
        transform: translateY(35px);
        opacity: 0;
    }
    30%{
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@-webkit-keyframes slidePlan {
    0%{top: 0%; opacity: 0}
    90%{top: 0%; opacity: 0.9}
    100%{top:0%; opacity:1}
}
.News-content{
    margin-top: 45px;
    margin-bottom: 45px;
}
.News-content .detail-content article{
    border: 1px solid #ebeaea;
    padding-bottom: 20px;
    border-radius: 5px;
    display: inline-block;
}
.News-content .detail-content .thumbnail figure{
    overflow: hidden;
}
.News-content .detail-content .thumbnail img{
    width: 100%;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    cursor: pointer;
    transform: scale(1);
    transition: .5s ease-in-out;
}
.News-content .detail-content .thumbnail:hover img{
    transform: scale(1.5);
}
.News-content .detail-content .thumbnail{
    display: block;
}
.News-content .detail-content .details{
    margin-right: 3%;
}
.News-content .detail-content .details .post-head .date{
    float: left;
    padding-right: 10px;
    display: block;
    zoom: 1;
}
.News-content .detail-content .details .post-head .date .day{
    font-size: 1.8em;
    vertical-align: baseline;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}
.News-content .detail-content .details .post-head .date .month{
    font-size: .8em;
    letter-spacing: -.4px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}
.News-content .detail-content .details .post-head .date::after{
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
.News-content .detail-content .details .info{
    border-left: 1px solid #ccc;
    margin-left: 42px;
    padding-left: 10px;
}
.News-content .detail-content .details .info h2{
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1.2;
}
.News-content .detail-content .details .info h2 a{
    text-decoration: none;
    color: #d7272a;
}
.News-content .detail-content .details .info h2 a:hover{
    color: #149fbb;
    transition: .4s;
}
.News-content .detail-content .details .info .metadata{
    color: black;
}
.News-content .detail-content .details .info .metadata a{
    text-decoration: none;
    color: #d7272a;
}
.News-content .detail-content .details .post-body{
    border-top: 1px solid #ebeaea;
    margin-top: 15px;
    padding-top: 15px;
}
.News-content .detail-content .details .post-body p{
    font-size: 13px;
}
.News-content .detail-content .details .post-foot{
    border-top: 1px solid #ebeaea;
    margin-top: 15px;
    padding-top: 20px;
    display: table;
    width: 100%;
}
.News-content .detail-content .details .post-foot .data{
    text-align: right;
    font-size: .9em;
    display: table-cell;
    vertical-align: middle;
}
.News-content .detail-content .details .post-foot button{
    font-size: 10px;
    padding: 10px;
    margin-left: 3%;
}
.News-content .detail-content .details .post-foot button:hover{
    background: #149fbb;
    transition: .4s;
}
.News-content .detail-content .details .post-foot .data .meta{
    margin-left: 15px;
}
.News-content .detail-content .details .post-foot .data .meta.date::before{
    font-family: fontawesome;
    font-style: normal;
    font-weight: 400;
    content: '\f017';
}
.News-content .detail-content .details .post-foot .data .meta.comment::before{
    font-family: fontawesome;
    font-style: normal;
    font-weight: 400;
    content: '\f086';
    margin-right: 3px;
}
.News-content .detail-content .details .post-foot .data .meta.tags a{
    color: #d7272a;
    text-decoration: none;
}
.News-content .detail-content .details .post-foot .data .meta.tags a:hover{
    color: #149fbb;
    transition: .4s;
}
.News-content .detail-content .details .post-foot .data .meta.tags::before{
    font-family: fontawesome;
    font-style: normal;
    font-weight: 400;
    content: '\f02c';
    color: #4cd137;
}
.News-content .detail-content .handleButton{
    display: flex;
    justify-content: flex-end;
}
.News-content .detail-content .handleButton-one,
.News-content .detail-content .handleButton-two{
    width: 2em;
    height: 2em;
    line-height: 2em;
    background-color: #d7272a;
    display: inline-block;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 20%;
}
.News-content .detail-content .handleButton-one:hover,
.News-content .detail-content .handleButton-two:hover{
    background: #149fbb;
    transition: .4s;
}
.News-content .detail-content .handleButton-two{
    margin-left:1%;
}
.News-content .detail-content .handleButton a{
    margin-left: 5px;
    margin-top: 1px;
    color: #d7272a;
    text-decoration: none;
}
.News-content .detail-content .handleButton a:hover{
    color: #149fbb;
    transition: .4s;
}
.News-content .detail-content .handleButton a::after{
    content: ' >>';
}
.News-content .side-content .boxContainer{
    margin: auto;
    border: 2px solid black;
    padding: 0 10px;
    border-radius: 50px;
}
.News-content .side-content .boxContainer .elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.News-content .side-content .boxContainer .elementsContainer .search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
}
.News-content .side-content .Categories .card .card-header .mb-0 button{
    padding: .1px .1px;
    font-size: 10px;
}
.News-content .side-content img{
    width: 100%;
    border-radius: 100%;
}
.News-content .side-content h2{
    font-size: .9em;
}
.News-content .side-content .cloud-tags li a .tags-item{
    color: white;
    background: #d7272a;
    border-radius: 6px;
    text-shadow: 1px 0.01px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    transition: .2s;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}
.News-content .side-content .cloud-tags li a .tags-item:hover{
    background: #149fbb;
}
/*Footer*/
footer {
    background: url('https://onclickwebdesign.com/wp-content/uploads/footer-bg.jpg') top center no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
    padding: 9px 0;
}

.footer-container {
    max-width: 625px;
    margin: 0 auto;
}

#footer-logo {
    display: inline-block;
}

footer nav {
    margin: 2rem 0 6rem;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

.footer-container ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
    transition: 0.4s;
}

footer .mailing-list {
    position: relative;
}

.footer-container ul li a:hover {
    color: #d7272a;
}

footer input {
    color: #fff;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #fff;
    font-size: 13px;
    font-style: italic;
    padding-left: 2rem;
}

footer button {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 0.74rem 3rem;
}

footer ul.social-icons {
    max-width: 400px;
    margin: 4rem auto 3rem;
}

footer ul.social-icons li a {
    font-size: 1rem;
    text-decoration: none;
}

footer img.bicep {
    display: block;
    margin: 0 auto 2rem;
}

footer small {
    color: #fff;
    opacity: 0.8;
    font-weight: 300;
    margin: 0 0.5rem;
}

.footer-container small a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-container small a:hover {
    color: #d7272a;
}

#search-container {
    background: #073B4C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    visibility: hidden;
    transition: 0.3s;
}

#search-container-hide {
    color: #fff;
    font-size: 1.75rem;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#search-container h3,
.search-container-input {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -50px auto 0;
    max-width: 500px;
}

#search-container h3 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-align: center;
    margin: -125px auto 0;
}

.search-container-input input {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 2rem;
}

.search-container-input button {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (max-width: 992px) {
    .gym-bg-decoration {
        display: none;
    }

    h2 {
        font-size: 6rem;
    }

    header nav {
        max-width: 775px;
    }

    .fit-ness-logo {
        margin: 0 1rem;
    }

    .membership-cards-box .inner-container {
        padding: 0.5rem 1.5rem 1.5rem;
        height: 100%;
        box-sizing: border-box;
    }

    .membership-cards-box h2 {
        font-size: 3.5rem;
    }

    .personal-trainer-box {
        padding: 2rem 1.5rem 1.5rem;
    }

    .personal-trainer-box p {
        font-size: 0.85rem;
    }

    .gym-bg {
        display: none;
    }
}
@media (min-width: 768px) {
    header nav {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .menu-flex
    {
        display: block;
    }
    header {
        background: rgba(0, 0, 0, 0.85);
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
    }

    #header-logo-mobile {
        display: inline-block;
    }

    header nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.85);
        display: none;
    }

    header nav ul.flex {
        display: block;
    }

    header nav ul li {
        margin: 1rem 0;
    }

    header nav ul li:last-child {
        margin-bottom: 2rem;
    }

    header nav ul li a {
        font-size: 1.5rem;
    }

    #search {
        position: static;
        font-size: 1.5rem;
    }

    #hamburger-menu {
        display: block;
    }

    #header-logo {
        display: none;
    }
    .banner-top .box .img-fluid {
        width: 100% !important;
    }
    .gym-bg-content
    {
        margin-left: 15%;
    }
    .membership-cards-box .inner-container {
        min-height: 500px;
        background-color: #fff;
        padding: 1rem 1rem !important;
    }
    .personal-trainer-box
    {
        min-height: 550px;
        background-size: cover;
    }
}
@media (max-width: 600px) {
    .membership-cards-box .inner-container {
        min-height: 500px;
        background-color: #fff;
        padding: 1rem 1rem !important;
    }
    .personal-trainer-box
    {
        min-height: 550px;
        background-size: cover;
    }
    .gym-bg-content
    {
        margin-left: 2%;
    }
    .gym-bg
    {
        display: none;
    }
}
@media (max-width: 500px) {
    .membership-cards-box .inner-container {
        min-height: 400px;
    }
    .personal-trainer-box
    {
        min-height: 400px;
        background-size: cover;
    }
    .gym-bg-content {
        margin-left: 2%;
    }
}