* {
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    color: #353535;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li a {
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.4s;
    text-decoration: none !important;
}

header nav ul li a:hover {
    color: #d7272a !important;
}

p {
    color: #7b7b7b;
    line-height: 2;
    font-size: 0.95rem;
}

h1, h3, h4, h5 {
    text-transform: uppercase;
}

h2 {
    font-size: 8rem;
}

h3 {
    font-size: 2.85rem;
    letter-spacing: 7px;
    color: #fff;
    margin-bottom: 4rem;
}

h4 {
    font-size: 1.15rem;
}

button {
    cursor: pointer;
    background: #d7272a;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.25rem 3rem;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.menu-flex {
    display: flex;
    justify-content: space-between;
}

.active {
    color: #d7272a !important;
}

#menu {
    position: relative;
    padding: 0;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1rem 0;
    z-index: 1;
}

.top-fitness-logo {
    margin: 0 2rem;
    border: 2px solid #fff;
    padding: 15px 10px 7px;
    text-align: center;
    letter-spacing: 2px;
}

.top-fitness-logo a {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    line-height: 20px;
}

.top-fitness-logo a:hover {
    text-decoration: none;
}

.fit-ness-logo {
    margin: 0 2rem;
    border: 2px solid #fff;
    padding: 15px 10px 7px;
    text-align: center;
    letter-spacing: 2px;
}

.fit-ness-logo a {
    font-size: 28px;
    color: #fff;
    line-height: 20px;
}

header nav {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

header nav ul.menu-flex {
    align-items: center;
    justify-content: space-around;
}

header nav ul li a {
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.4s;
}

header nav ul li a:hover {
    color: #d7272a !important;
}

.fit-ness-logo a:hover {
    text-decoration: none;
}

#header-logo-mobile {
    display: none;
}

#search {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    width: auto;
    padding: 0;
    font-size: 15px;
    border: none;
    background: transparent;
    color: #fff;
}

#hamburger-menu {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin: 0 1rem;
    display: none;
}

#hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
}
/*Nutrition-detail*/
.Nutrition-detail .icon-bg-banner h4
{
    margin-top:7%;
    color: white;
    font-size: 17px;
}
.Nutrition-detail .bg-main-top{
    background-image: url(https://themes.oitentaecinco.com/winner/wp-content/uploads/2015/12/nutrition-slider-bg.jpg);
    min-height: 60vh;
    background-size: cover;
}
.Nutrition-detail .bg-main-top button{
    margin: auto;
    background-color: #d7272a;
    color: #ccc;
    font-size: 13px;
    animation: slideOutbutton 1s;
}
.Nutrition-detail .bg-main-top button:hover{
    background-color: white;
    color: #d7272a;
    transition: 0.4s;
}
.Nutrition-detail .bg-main-top p{
    animation: updown 1s;
}
.Nutrition-detail .bg-main-top #img{
    animation: updown 1s;
}
.Nutrition-detail .bg-main-top .icon-bg-banner{
    animation: slidePlan 3s;
}
@-webkit-keyframes updown {
    0% {
        transform: translateY(-50px)scale(1);
        opacity: 0;
    }
    30%{
        transform: translateY(-50px)scale(1);
        opacity: 0;
    }
    100% {
        transform: translateX(0px)scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes downup {
    0% {
        transform: translateY(50px)scale(1);
        opacity: 0;
    }
    30%{
        transform: translateY(50px)scale(1);
        opacity: 0;
    }
    100% {
        transform: translateX(0px)scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes slideOutbutton {
    0% {
        transform: translateY(35px);
        opacity: 0;
    }
    30%{
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@-webkit-keyframes slidePlan {
    0%{top: 0%; opacity: 0}
    90%{top: 0%; opacity: 0.9}
    100%{top:0%; opacity:1}
}
.Nutrition-detail-content{
    margin-top: 45px;
    margin-bottom: 45px;
}
.Nutrition-detail-content .detail-content #line{
    list-style: none;
}
.Nutrition-detail-content .detail-content #line li a{
    color: #d7272a;
    text-decoration: none;
}
.Nutrition-detail-content .detail-content #line li a::before{
    color: #d7272a;
    font-size: 10px;
    content: '>';
    margin-right: 5px;
}
.Nutrition-detail-content .detail-content #line li a:hover{
    color: #149fbb;
}
.Nutrition-detail-content .detail-content img{
    width: 100%;
    border-radius: 2%;
}
.Nutrition-detail-content .detail-content .nurse{
    font-size: 12px;
}
.Nutrition-detail-content .detail-content .nurse::before{
    color: #d7272a;
    font-size: 10px;
    content: '>';
    margin-right: 5px;
}
.Nutrition-detail-content .detail-content table tbody tr td{
    padding: 7px 12px;
    border-style: solid;
    border-width: 1px;
    font-size: .9em;
}
.Nutrition-detail-content .detail-content table tbody tr:first-child td{
    border-top-style: solid;
    border-top-width: 1px;
}
.Nutrition-detail-content .detail-content table tbody tr td:first-child{
    border-left-style: solid;
    border-left-width: 1px;
}
.Nutrition-detail-content .detail-content blockquote{
    border-left: 5px solid #eee;
    font-size: 1.2em;
    font-style: italic;
    color: #737373;
    margin-left: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
}
.Nutrition-detail-content .detail-content .wrapper{
    display: inline-flex;
}
.Nutrition-detail-content .detail-content .wrapper .icon{
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.Nutrition-detail-content .detail-content .wrapper .icon span{
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 2;
}
.Nutrition-detail-content .detail-content .wrapper .icon span i{
    font-size: 25px;
    line-height: 60px;
}
.Nutrition-detail-content .detail-content .wrapper .icon:hover span{
    color: #fff;
}
.Nutrition-detail-content .detail-content .wrapper .icon .tool{
    background: #fff;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.Nutrition-detail-content .detail-content .wrapper .icon:hover .tool{
    opacity: 1;
    pointer-events: auto;
    top: -70px;
}
.Nutrition-detail-content .detail-content .wrapper .icon .tool::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.Nutrition-detail-content .detail-content .wrapper .icon:hover span,
.Nutrition-detail-content .detail-content .wrapper .icon:hover .tool{
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}
.Nutrition-detail-content .detail-content .wrapper .facebook:hover span,
.Nutrition-detail-content .detail-content .wrapper .facebook:hover .tool,
.Nutrition-detail-content .detail-content .wrapper .facebook:hover .tool::before{
    background: #3B5999;
}
.Nutrition-detail-content .detail-content .wrapper .twitter:hover span,
.Nutrition-detail-content .detail-content .wrapper .twitter:hover .tool,
.Nutrition-detail-content .detail-content .wrapper .twitter:hover .tool::before{
    background: #46C1F6;
}
.Nutrition-detail-content .detail-content .wrapper .instagram:hover span,
.Nutrition-detail-content .detail-content .wrapper .instagram:hover .tool,
.Nutrition-detail-content .detail-content .wrapper .instagram:hover .tool::before{
    background: #e1306c;
}
.Nutrition-detail-content .detail-content .wrapper .github:hover span,
.Nutrition-detail-content .detail-content .wrapper .github:hover .tool,
.Nutrition-detail-content .detail-content .wrapper .github:hover .tool::before{
    background: #333;
}
.Nutrition-detail-content .detail-content .wrapper .youtube:hover span,
.Nutrition-detail-content .detail-content .wrapper .youtube:hover .tool,
.Nutrition-detail-content .detail-content .wrapper .youtube:hover .tool::before{
    background: #DE463B;
}
.Nutrition-detail-content .detail-content .form button{
    padding: 8px;
    font-size: .8em;
    background: #d7272a;
    color: white;
    border: none;
    transition: 0.4s;
}
.Nutrition-detail-content .detail-content .form button:hover{
    background: #149fbb;
    transition: 0.4s;
}
.Nutrition-detail-content .side-content .boxContainer{
    margin: auto;
    border: 2px solid black;
    padding: 0 10px;
    border-radius: 50px;
}
.Nutrition-detail-content .side-content .boxContainer .elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.Nutrition-detail-content .side-content .boxContainer .elementsContainer .search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
}
.Nutrition-detail-content .side-content .Categories .card .card-header .mb-0 button{
    padding: .1px .1px;
    font-size: 10px;
}
.Nutrition-detail-content .side-content img{
    width: 100%;
    border-radius: 100%;
}
.Nutrition-detail-content .side-content h2{
    font-size: .9em;
}
/*Footer*/
footer {
    background: url('https://onclickwebdesign.com/wp-content/uploads/footer-bg.jpg') top center no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
    padding: 9px 0;
}

.footer-container {
    max-width: 625px;
    margin: 0 auto;
}

#footer-logo {
    display: inline-block;
}

footer nav {
    margin: 2rem 0 6rem;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

.footer-container ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
    transition: 0.4s;
}

footer .mailing-list {
    position: relative;
}

.footer-container ul li a:hover {
    color: #d7272a;
}

footer input {
    color: #fff;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #fff;
    font-size: 13px;
    font-style: italic;
    padding-left: 2rem;
}

footer button {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 0.74rem 3rem;
}

footer ul.social-icons {
    max-width: 400px;
    margin: 4rem auto 3rem;
}

footer ul.social-icons li a {
    font-size: 1rem;
    text-decoration: none;
}

footer img.bicep {
    display: block;
    margin: 0 auto 2rem;
}

footer small {
    color: #fff;
    opacity: 0.8;
    font-weight: 300;
    margin: 0 0.5rem;
}

.footer-container small a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-container small a:hover {
    color: #d7272a;
}

#search-container {
    background: #073B4C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    visibility: hidden;
    transition: 0.3s;
}

#search-container-hide {
    color: #fff;
    font-size: 1.75rem;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#search-container h3,
.search-container-input {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -50px auto 0;
    max-width: 500px;
}

#search-container h3 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-align: center;
    margin: -125px auto 0;
}

.search-container-input input {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 2rem;
}

.search-container-input button {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (max-width: 992px) {
    .gym-bg-decoration {
        display: none;
    }

    h2 {
        font-size: 6rem;
    }

    header nav {
        max-width: 775px;
    }

    .fit-ness-logo {
        margin: 0 1rem;
    }

    .membership-cards-box .inner-container {
        padding: 0.5rem 1.5rem 1.5rem;
        height: 100%;
        box-sizing: border-box;
    }

    .membership-cards-box h2 {
        font-size: 3.5rem;
    }

    .personal-trainer-box {
        padding: 2rem 1.5rem 1.5rem;
    }

    .personal-trainer-box p {
        font-size: 0.85rem;
    }

    .gym-bg {
        display: none;
    }
}
@media (min-width: 768px) {
    header nav {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .menu-flex
    {
        display: block;
    }
    header {
        background: rgba(0, 0, 0, 0.85);
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
    }

    #header-logo-mobile {
        display: inline-block;
    }

    header nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.85);
        display: none;
    }

    header nav ul.flex {
        display: block;
    }

    header nav ul li {
        margin: 1rem 0;
    }

    header nav ul li:last-child {
        margin-bottom: 2rem;
    }

    header nav ul li a {
        font-size: 1.5rem;
    }

    #search {
        position: static;
        font-size: 1.5rem;
    }

    #hamburger-menu {
        display: block;
    }

    #header-logo {
        display: none;
    }
    .banner-top .box .img-fluid {
        width: 100% !important;
    }
    .gym-bg-content
    {
        margin-left: 15%;
    }
    .membership-cards-box .inner-container {
        min-height: 500px;
        background-color: #fff;
        padding: 1rem 1rem !important;
    }
    .personal-trainer-box
    {
        min-height: 550px;
        background-size: cover;
    }
}
@media (max-width: 600px) {
    .membership-cards-box .inner-container {
        min-height: 500px;
        background-color: #fff;
        padding: 1rem 1rem !important;
    }
    .personal-trainer-box
    {
        min-height: 550px;
        background-size: cover;
    }
    .gym-bg-content
    {
        margin-left: 2%;
    }
    .gym-bg
    {
        display: none;
    }
}
@media (max-width: 500px) {
    .membership-cards-box .inner-container {
        min-height: 400px;
    }
    .personal-trainer-box
    {
        min-height: 400px;
        background-size: cover;
    }
    .gym-bg-content
    {
        margin-left: 2%;
    }
    .gym-bg
    {
        display: none;
    }
}

